.text-tou {  
	width: 60%;  
	margin: 50px 20%;  
	font-weight: 400;  
	padding: 0 16px 50px 16px;  
	line-height: 1.5;  
	font-size: 14.5px;
}
.text-tou p {  
	margin-top: 20px;
}
.text-tou .blue {
	color: #219cc1;
}
.text-tou h2 {  
	font-weight: 700;  
	text-tou-transform: uppercase;  
	margin-top: 43px;  
	font-size: 15px;
}
.text-tou ul {  
	font-weight: 400;  
	margin-top: 27px;
}
.text-tou li {  
	line-height: 1.6;  
	color: black;  
	padding-left: 12px;  
	margin: 5px 0;
}
.text-tou .disclaimers {  
	text-tou-transform: uppercase;
}
.text-tou li span {  
	color: #219cc1;  
	padding-right: 12px;  
	font-size: 42px;  
	line-height: 30px;  
	vertical-align: middle;
}
@media (max-width: 1024px) {  
	.text-tou {    
		min-width: 768px;    
		max-width: 90%;    
		margin: 50px auto;    
		font-weight: 500;    
		padding: 0 16px 50px 16px;    
		line-height: 1.5;    
		font-size: 14.5px;  
	}
}
@media (max-width: 1024px) {  
	.text-tou {    
		min-width: 768px;    
		max-width: 90%;   
		margin: 50px auto;    
		font-weight: 500;    
		padding: 0 16px 50px 16px;    
		line-height: 1.5;    
		font-size: 14.5px;  
	}
}
@media (max-width: 1440px) {  
	.banner .slide {    
		max-height: 200px;    
		background: no-repeat 0% 0% / cover;    
		min-height: 100px;  
	}
}
@media (max-width: 768px) {  
	.text-tou {    
		min-width: auto;    
		width: 100%;    
		margin: 50px auto;    
		font-weight: 500;    
		padding: 0 16px 50px 16px;    
		line-height: 1.5;    
		font-size: 10.5px;  
	}
}